---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleLink from "../../components/ArticleLink.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);
---

<Layout>
  <div class="flex flex-col items-center p-8">
    <main class="w-full max-w-2xl flex flex-col gap-8">
      <h1 class="text-3xl mb-16">Writing</h1>

      {
        posts.map((post) => (
          <ArticleLink
            title={post.data.title}
            subtitle={post.data.subtitle}
            href={`/blog/${post.id}`}
            date={post.data.publishDate.toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
              timeZone: "UTC",
            })}
          />
        ))
      }
    </main>
  </div>
</Layout>
