@import "@fontsource/jetbrains-mono/400.css";
@import "@fontsource/jetbrains-mono/700.css";

@import "tailwindcss";

@theme {
  --font-mono: 'JetBrains Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  /* Gruvbox dark */
  --color-gruvbox-background: #282828;
  --color-gruvbox-light-background: #35312f;
  --color-gruvbox-text: #ebdbb2;
  --color-gruvbox-green: #83b871;
  --color-gruvbox-teal: #779b8d;
  --color-gruvbox-yellow: #d18f1e;
  --color-gruvbox-gray: #928374;
}

body {
  @apply bg-gruvbox-background text-gruvbox-text selection:bg-gruvbox-green/25 font-mono text-sm/5;
}

a {
  @apply underline text-gruvbox-yellow focus:outline-gruvbox-yellow;
}