---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ManPage from "../components/ManPage.astro";
import QuoteCard from "../components/QuoteCard.tsx";
import ArticleLink from "../components/ArticleLink.astro";
import { quotes, type NumberedQuote } from "../quotes.ts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);

// Number the quotes according to their order in src/quotes.ts, then shuffle.
// This is done here at SSG time so that the QuoteCard component receives the
// same shuffled array during static generation and client hydration, avoiding
// a content flash when that hydration process finishes.
function shuffle<T>(array: T[]): T[] {
  const result = [...array];
  let currentIndex = result.length;
  while (currentIndex !== 0) {
    const randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;
    [result[currentIndex], result[randomIndex]] = [
      result[randomIndex],
      result[currentIndex],
    ];
  }
  return result;
}

const shuffledQuotes: NumberedQuote[] = shuffle(
  quotes.map((quote, i) => ({ num: i + 1, ...quote })),
);
---

<Layout>
  <div class="flex flex-col items-center p-8 gap-8">
    <QuoteCard client:load quotes={shuffledQuotes} />
    <main class="w-full max-w-6xl grid grid-cols-1 md:grid-cols-2 gap-16">
      <div class="flex flex-col gap-8">
        <h1 class="text-3xl">Writing</h1>
        {
          posts.map((post) => (
            <ArticleLink
              title={post.data.title}
              subtitle={post.data.subtitle}
              href={`/blog/${post.id}`}
              date={post.data.publishDate.toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
                timeZone: "UTC",
              })}
            />
          ))
        }
      </div>
      <ManPage />
    </main>
  </div>
</Layout>
