---
import Layout from "../layouts/Layout.astro";
import ManPage from "../components/ManPage.astro";
import Shell from "../components/Shell.tsx";
---

<Layout>
  <main class="h-dvh grid grid-cols-2 gap-4 p-4">
    <Shell client:load />
    <ManPage />
  </main>
</Layout>
