---
import StubbyArrowIcon from "../icons/StubbyArrowIcon.tsx";

interface Props {
  title: string;
  subtitle: string;
  href: string;
  date: string;
}

const { title, subtitle, href, date } = Astro.props;
---

<article>
  <div
    class="relative isolate -m-4 flex flex-col gap-2 items-start rounded-lg p-4 hover:bg-gruvbox-bg1 hover:ring-1 hover:ring-neutral-950/15"
  >
    <h2 class="w-full text-lg font-medium font-['new-spirit']">
      <a href={href} class="group w-full">
        <span class="absolute inset-0 z-10"></span>
        <div class="flex w-full items-center justify-between">
          {title}
          <span
            class="inline-flex transition-transform duration-300 ease-[cubic-bezier(0.34,1.56,0.64,1)] group-hover:translate-x-[3px]"
          >
            <StubbyArrowIcon />
          </span>
        </div>
      </a>
    </h2>
    <h3 class="text-sm text-gruvbox-gray">{subtitle}</h3>
    <time class="text-sm text-gruvbox-teal">{date}</time>
  </div>
</article>
