---
import StubbyArrowIcon from "../icons/StubbyArrowIcon.tsx";
---

<div
  class="w-fit relative isolate -m-4 flex flex-col items-start rounded-lg p-4 hover:bg-gruvbox-bg1 hover:ring-1 hover:ring-neutral-950/15"
>
  <a href="/" class="group">
    <span class="absolute inset-0 z-10"></span>
    <div class="flex items-center gap-1">
      <span
        class="inline-flex transition-transform duration-300 ease-[cubic-bezier(0.34,1.56,0.64,1)] group-hover:-translate-x-[3px]"
      >
        <StubbyArrowIcon isPointingLeft />
      </span>
      Home
    </div>
  </a>
</div>
