<section class="flex flex-col gap-6 font-mono text-sm/5">
  <div class="w-full flex justify-between">
    <span>NICK(1)</span>
    <span class="text-center">nchaloult.com General Commands Manual</span>
    <span>NICK(1)</span>
  </div>

  <div>
    <b>NAME</b>
    <p class="ml-12">
      <b>nick</b> - an outcome-driven Software Engineer who is eager to learn and
      go deep, build with intention and a high level of craftsmanship, and design
      with uncommon care
    </p>
  </div>

  <div>
    <b>SYNOPSIS</b>
    <p class="ml-12">
      <!-- TODO: Make these dynamic based on the supported commands. -->
      <b>nick [-eglr]</b>
    </p>
  </div>

  <div>
    <b>DESCRIPTION</b>
    <div class="ml-12 flex flex-col gap-4">
      <p>
        Always discovering better ways to write maintainable and testable
        software, learning from folks who have done it at scale. Enthralled with
        every layer of the stack, from architecting systems, to profiling and
        tuning databases, to designing web frontends. Relentlessly learning
        about how computers work. In-tune with business incentives.
      </p>
      <p>Currently interested in:</p>
      <ul class="grid grid-cols-[auto_1fr] gap-x-12 gap-y-4">
        <span>•</span>
        <li>
          Experimenting with AI in hopes of delivering outsized business value (<a
            href="https://youtu.be/gpVETZnY9Y0?si=jDp8qW6sSxdGkhBb&t=3482"
            target="_blank"
            rel="noopener noreferrer">wandering the impact desert</a
          >)
        </li>
        <span>•</span>
        <li>
          Systems programming (<a
            href="https://nycsystems.xyz"
            target="_blank"
            rel="noopener noreferrer">https://nycsystems.xyz</a
          >)
        </li>
        <span>•</span>
        <li>
          Distributed systems testing tools (<a
            href="https://jepsen.io/"
            target="_blank"
            rel="noopener noreferrer">https://jepsen.io/</a
          >)
        </li>
        <span>•</span>
        <li>
          New version control systems (<a
            href="https://jj-vcs.github.io"
            target="_blank"
            rel="noopener noreferrer">https://jj-vcs.github.io</a
          >)
        </li>
      </ul>
      <p>
        <b>nick</b> is a proud father and stepfather.
      </p>
    </div>
  </div>

  <div>
    <b>OPTIONS</b>
    <div class="ml-12 flex flex-col gap-4">
      <!-- TODO: Make these dynamic based on the supported commands. -->
      <div>
        <b>-e, --email</b>
        <p class="ml-12">
          <a
            href="mailto:npchaloult@gmail.com"
            target="_blank"
            rel="noopener noreferrer">npchaloult@gmail.com</a
          >
        </p>
      </div>
      <div>
        <b>-g, --github</b>
        <p class="ml-12">
          <a
            href="https://github.com/nchaloult"
            target="_blank"
            rel="noopener noreferrer">https://github.com/nchaloult</a
          >
        </p>
      </div>
      <div>
        <b>-l, --linkedin</b>
        <p class="ml-12">
          <a
            href="https://linkedin.com/in/nchaloult"
            target="_blank"
            rel="noopener noreferrer">https://linkedin.com/in/nchaloult</a
          >
        </p>
      </div>
      <div>
        <b>-r, --resume</b>
        <p class="ml-12">
          <a href="/resume.pdf" target="_blank" rel="noopener noreferrer"
            >Click to view resume</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-between">
    <span>Nicholas Chaloult</span>
    <span>NICK(1)</span>
  </div>
</section>
