<section class="flex flex-col gap-6 overflow-y-auto">
  <div class="w-full flex justify-between">
    <span>NICK(1)</span>
    <span class="text-center">nchaloult.com General Commands Manual</span>
    <span>NICK(1)</span>
  </div>

  <div>
    <b>NAME</b>
    <p class="ml-12">
      <b>nick</b> - a Software Engineer who is eager to learn about new technologies
      and best practices
    </p>
  </div>

  <div>
    <b>SYNOPSIS</b>
    <p class="ml-12">
      <!-- TODO: Make these dynamic based on the supported commands. -->
      <b>nick [-aegilr]</b>
    </p>
  </div>

  <div>
    <b>DESCRIPTION</b>
    <div class="ml-12 flex flex-col gap-4">
      <p>
        Always discovering better ways to write maintainable and testable
        software, learning from folks who have done it at scale. Enjoys hacking
        on every layer of the stack, from architecting systems, to profiling and
        tuning databases, to designing and building web frontends. Relentlessly
        learning about how computers work.
      </p>
      <p>
        Currently interested in systems programming (<a
          href="https://nycsystems.xyz"
          target="_blank"
          rel="noopener noreferrer">https://nycsystems.xyz</a
        >), distributed systems testing tools (<a
          href="https://jepsen.io/"
          target="_blank"
          rel="noopener noreferrer">Jepsen</a
        >), and new version control systems (<a
          href="https://jj-vcs.github.io"
          target="_blank"
          rel="noopener noreferrer">jj</a
        >). Concentrations in school were AI & machine learning, and database
        management system internals.
      </p>
      <p>
        <b>nick</b> is a proud father and stepfather.
      </p>
    </div>
  </div>

  <div>
    <b>OPTIONS</b>
    <div class="ml-12 flex flex-col gap-4">
      <!-- TODO: Make these dynamic based on the supported commands. -->
      <div>
        <b>-a, --all</b>
        <p class="ml-12">Print lots of important info</p>
      </div>
      <div>
        <b>-e, --email</b>
        <p class="ml-12">Print my email address</p>
      </div>
      <div>
        <b>-g, --github</b>
        <p class="ml-12">Print a link to my GitHub profile</p>
      </div>
      <div>
        <b>-i, --interests</b>
        <p class="ml-12">Print what I'm currently interested in</p>
      </div>
      <div>
        <b>-l, --linkedin</b>
        <p class="ml-12">Print a link to my LinkedIn profile</p>
      </div>
      <div>
        <b>-r, --resume</b>
        <p class="ml-12">Print a link to view my resume as a PDF</p>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-between">
    <span>Nicholas Chaloult</span>
    <span>NICK(1)</span>
  </div>
</section>
