.margin_row {
  display: flex;
  justify-content: space-between;
}

.indented {
  padding-left: 3rem;
}

#container {
  display: flex;
  flex: 1;
  flex-direction: column;
  row-gap: 2rem;
  height: 100%;
}

#content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

#options_content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
