<section class="flex flex-col gap-6 overflow-y-auto">
  <div class="w-full flex justify-between">
    <span>NICK(1)</span>
    <span class="text-center">nchaloult.com General Commands Manual</span>
    <span>NICK(1)</span>
  </div>

  <div>
    <b>NAME</b>
    <p class="ml-12">
      <b>nick</b> - a Software Engineer who is eager to learn about new technologies
      and best practices
    </p>
  </div>

  <div>
    <b>SYNOPSIS</b>
    <p class="ml-12">
      <!-- TODO: Make these dynamic based on the supported commands. -->
      <b>nick [-aegilr]</b>
    </p>
  </div>

  <div>
    <b>DESCRIPTION</b>
    <div class="ml-12 space-y-4">
      <p>
        Always discovering better ways to write maintainable and testable
        software, learning from folks who have done it at scale. Enjoys hacking
        on every layer of the stack, from designing cloud-native architectures,
        to tuning databases, to designing and building web frontends.
        Relentlessly learning about how computers work.
      </p>
      <p>
        Currently interested in systems programming (<a
          href="https://nycsystems.xyz"
          target="_blank"
          rel="noopener noreferrer">https://nycsystems.xyz</a
        >), distributed systems testing tools (<a
          href="https://jepsen.io/"
          target="_blank"
          rel="noopener noreferrer">Jepsen</a
        >), and new version control systems (<a
          href="https://jj-vcs.github.io"
          target="_blank"
          rel="noopener noreferrer">jj</a
        >). Concentrations in school were AI & machine learning, and database
        management system internals.
      </p>
      <p>
        <b>nick</b> is a proud father and stepfather.
      </p>
    </div>
  </div>

  <div>
    <b>OPTIONS</b>
    <div class="ml-12 space-y-4">
      <!-- TODO: Make these dynamic based on the supported commands. -->
      <div>
        <b>-a, --all</b>
        <p class="ml-12">Prints lots of Nick&apos;s important info</p>
      </div>
      <div>
        <b>-e, --email</b>
        <p class="ml-12">Prints Nick&apos;s email address</p>
      </div>
      <div>
        <b>-g, --github</b>
        <p class="ml-12">Prints a link to Nick&apos;s GitHub profile</p>
      </div>
      <div>
        <b>-i, --interests</b>
        <p class="ml-12">Prints what Nick is currently interested in</p>
      </div>
      <div>
        <b>-l, --linkedin</b>
        <p class="ml-12">Prints a link to Nick&apos;s LinkedIn profile</p>
      </div>
      <div>
        <b>-r, --resume</b>
        <p class="ml-12">Prints a link to view Nick&apos;s resume as a PDF</p>
      </div>
    </div>
  </div>

  <div class="w-full flex justify-between">
    <span>Nicholas Chaloult</span>
    <span>NICK(1)</span>
  </div>
</section>
