/* General styles */

* {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background: #fdf6e3;
  color: #657b83;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

b {
  color: #586e75;
}

/* Page layout styles */

#container {
  display: flex;
}

.outer-column {
  overflow-x: hidden;
  overflow-y: scroll;
}

.inner-column {
  padding: 2em;
}

/* Desktops & tablets */
@media (min-width: 800px) {
  #container {
    flex-direction: row;
  }

  .outer-column {
    flex: 1;
    height: 100vh;
  }
}

/* Phones */
@media (max-width: 800px) {
  #container {
    flex-direction: column;
  }

  .outer-column {
    height: 50vh;
  }
}

/* Prompt styles */

#prompt {
  display: flex;
}

#prompt-input-form {
  flex: 1;
  margin-left: 0.5em;
}

input[type="text"] {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}

/* Don't display "I-beam" cursor when hovering over prompt input text field */
input[type="text"]:hover {
  cursor: default;
}

/* "Man page" styles */

.l-align {
  float: left;
}

.r-align {
  float: right;
}

.c-align {
  width: 100%;
  text-align: center;
}

.tabbed {
  padding-left: 3em;
}
