/* General styles */

* {
  font-family: 'Overpass Mono', source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

/* Page layout styles */

#container {
  display: flex;
  align-items: center;
}

#container > div {
  flex: 1;
}

.outer-column {
  height: 100vh;
  overflow: scroll;
}

.inner-column {
  padding: 2em;
}

/* Prompt styles */

#prompt {
  display: flex;
}

#shell-input {
  flex: 1;
  margin-left: 0.5em;
}

input[type="text"] {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
}
