---
import "@fontsource/jetbrains-mono";
import jetbrainsMono400 from "@fontsource/jetbrains-mono/files/jetbrains-mono-latin-400-normal.woff2?url";
import jetbrainsMono700 from "@fontsource/jetbrains-mono/files/jetbrains-mono-latin-700-normal.woff2?url";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#282828" />

    <title>Nick Chaloult</title>
    <meta name="description" content="Nick Chaloult's personal site" />

    <!-- Prefetching fonts -->
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={jetbrainsMono400}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={jetbrainsMono700}
      crossorigin="anonymous"
    />

    <!-- Open Graph tags -->
    <meta property="og:title" content="Nick Chaloult" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nchaloult.com" />
    <meta property="og:description" content="Nick Chaloult's personal site" />
    <!-- <meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"> -->
    <!-- <meta property="og:image:alt" content=""> -->
  </head>
  <body>
    <slot />
  </body>
</html>
