---
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#282828" />
    
    <title>Nick Chaloult</title>
    <meta name="description" content="Nick Chaloult's personal site" />
    
    <!-- Open Graph tags -->
    <meta property="og:title" content="Nick Chaloult" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nchaloult.com" />
    <meta property="og:description" content="Nick Chaloult's personal site" />
    <!-- <meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"> -->
    <!-- <meta property="og:image:alt" content=""> -->
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
